options/appComponentVersions.xml
options/dimensions.xml
options/dslActivation.xml
options/feature.usage.statistics.xml
options/find.recents.xml
options/gradle.experimental.xml
options/ide.general.xml
options/notifications.xml
options/options.xml
options/other.xml
options/project.default.xml
options/runner.layout.xml
options/statistics.application.usages.xml
options/studio.build.statistics.xml
options/ui.lnf.xml
options/updates.xml
options/web-browsers.xml
options/window.manager.xml